{% extends 'base.html' %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/errors/404.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock links %}

{% block title %}<title>404</title>{% endblock title %}

{% block body %}
      <div class="parent">
        <div class="block" style="margin-top: 30px; border-radius: 20px; height: 100%;">
            <br>
            <h2 class='title'>!Error!</h2>
            <br>
          {% autoescape off %}
                <div class="text">
                    <h2>Такой страницы не найдено :(</h2>
                    <br>
                    <img id='gif' src="https://media.giphy.com/media/UoeaPqYrimha6rdTFV/giphy.gif" alt="404 error">
                </div>
            </div>
          {% endautoescape %}
      </div>
    </div>
    {% endblock body %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
<script src="{% static 'js/bubbly-bg.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock js %}